<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <!-- th:if="${question != null}" 분기문 작성 -->
        <tbody>
            <!-- th:each: 파이선의 for in -->
            <tr th:each="question, loop : ${paging}">
                <!-- th.text: 텍스트출력 -->
                <td th:text="${loop.count}"></td>
                <td>
                    <!-- |: 문자열 표시? 문자열과 값 더할떄 사용 -->
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                </td>
                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>